# =========================
# Xcode
# =========================
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# =========================
# Swift Package Manager
# =========================s
.build/
Packages/
Package.resolved

# =========================
# CocoaPods (si se usan)
# =========================
Pods/

# =========================
# Carthage (si se usa)
# =========================
Carthage/Build/

# =========================
# Fastlane (si se usa)
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs / temporales
# =========================
*.log
*.tmp
